








---
// Import necessary components
import { Button, Kbd } from "@nextui-org/react";
---

<Button
  id="btn"
  variant="bordered"
  aria-label="Open modal"
  client:load
>
<span style="display: inline-flex; align-items: center; gap: 8px;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-search"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.099zm-5.44-9.344a5.5 5.5 0 1 1 0 11 5.5 5.5 0 0 1 0-11z"
    />
  </svg>
</span>

  Quick search

  <Kbd keys={["command"]}>K</Kbd>
</Button>


<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const button = document.getElementById('btn');
    const modal = document.getElementById('modal');
    const closeModalButton = document.getElementById('close-modal');
    
    function openModal() {
      modal.classList.remove('opacity-0');
      modal.classList.add('opacity-100');
      modal.classList.remove('-z-10');
      modal.classList.add('z-50'); // Add this line to increase the z-index when the modal opens
    }

    function closeModal() {
      modal.classList.remove('opacity-100');
      modal.classList.add('opacity-0');
      modal.classList.remove('z-50'); // Add this line to remove the increased z-index when the modal closes
      modal.classList.add('-z-10');
    }

    if (button) {
      button.addEventListener('click', openModal);
      button.addEventListener('keydown', (event) => {
        if (event.key === 'Enter') {
          openModal();
        }
      });
    }

    if (closeModalButton) {
      closeModalButton.addEventListener('click', closeModal);
    }

    // Close modal on Escape key press
    document.addEventListener('keydown', (event) => {
      if (event.key === 'Escape') {
        closeModal();
      }
    });

    // Open modal on Ctrl + K
    document.addEventListener('keydown', (event) => {
      if (event.ctrlKey && event.key === 'k') {
        event.preventDefault(); // Prevent default browser behavior
        openModal();
      }
    });

    
  });
</script>

