---
import CodeTabs from "./CodeTabs";
---

<!-- Use client:visible for lazy loading when component comes into view -->
<!-- @ts-ignore -->
<CodeTabs client:visible>
    <div slot="code" class="my-5">
        <slot/>
    </div>
</CodeTabs>