---
import { Tabs , Tab  } from "@nextui-org/react"

interface Props {
  title: string;
  caption?: string;
}
const {title , caption} = Astro.props;
---
<!-- <div class="flex w-full flex-col">
<Tabs client:visible>
  <Tab key="" title="yello">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste deleniti praesentium maxime aliquid vel porro neque, delectus mollitia, laudantium libero ipsam, veniam dolor?</p>
  </Tab>
  <Tab key="" title="jello">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste deleniti praesentium maxime aliquid vel porro neque, delectus mollitia, laudantium libero ipsam, veniam dolor?
      </Tab>
</Tabs>
</div> -->

//define an interface for this component such that 
// it takes file title , caption , 
<div data-title="codeblock">
 {title} 
<slot/>
{caption}
</div>
 


<script>

</script>